{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>
            Rodrigo Vega
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quas delectus eos provident culpa veritatis placeat cupiditate dolorum! Suscipit modi veniam amet reiciendis voluptatibus id consectetur nemo iusto hic cum.
            </p>
        </h1>
    </div>
    <div class="col-4">
        <img src="https://fotografias.antena3.com/clipping/cmsimages01/2019/10/09/B82BA1CA-B8D2-489D-B31D-3C635C43EB9E/58.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer}}